
HW2/raw.githubusercontent.com/cchan011/Astro/main/HW2/Ducrosa.txt
HW2/raw.githubusercontent.com/cchan011/Astro/main/HW2/Earth.txt
HW2/raw.githubusercontent.com/cchan011/Astro/main/HW2/IM-1.txt
HW2/raw.githubusercontent.com/cchan011/Astro/main/HW2/Moon.txt
final/raw.githubusercontent.com/cchan011/Astro/main/final/arrokoth.txt
final/raw.githubusercontent.com/cchan011/Astro/main/final/albion.txt
final/raw.githubusercontent.com/cchan011/Astro/main/final/sila-nunam.txt
final/raw.githubusercontent.com/cchan011/Astro/main/final/quaoar.txt
final/raw.githubusercontent.com/cchan011/Astro/main/final/teharonhiawako.txt
